generated_sql

sensitive-data/*
!sensitive-data/index.txt

sources

log
.DS_Store

# Ignore everything in the sources folder
sources/*
!sources/note.txt

# Ignore everything in the logs folder
logs/*
!logs/note.txt

# Ignore everything in the generated_sql folder
generated_sql/*
!generated_sql/note.txt